## Quiz 2 - Probability, Statistics (ლექცია 4, ლექცია 5) - 7 ქულა

იხილეთ LoanStatus.csv მონაცემთა ფაილი, რომელშიც მოცემულია კლიენტთა ინფორმაცია შემდეგი სვეტებით:

Loan ID - კლიენტის ID

Gender - სქესი

Married - დაქორზინებული არის თუ არა

Dependents - ოჯახის წევრების რაოდენობა, რომლის ფინანსურ მხარდაჭერასაც უზრუნველყოფს კლიენტი

Education - არის თუ არა უმაღლესი განათლების მქონე

Self_Employed - არის თუ არა თვითდასაქმებული

ApplicantIncome - კლიენტის შემოსავალი (per month)

LoanAmount  - სესხის რაოდენობა (ათასებში)

Loan_Amount_Term - სესხის ვადა

Credit_History - როგორი საკრედიტო ისტორია აქვს კლიენტს (1-კარგი, 0-ცუდი)

Property_Area - საცხოვრებელი და სამუშაო ადგილი

Loan_Status - სესხის გაცემის სტატუსი

## დავალება 1: აღწერილობითი სტატისტიკა  (1 ქულა)
ა) გახსენით ფაილი და დაბეჭდეთ აღწერილობითი სტატისტიკის მონაცემები თქვენთვის საინტერესო ველებისთვის, როგორიცაა საშუალო, მედიანა, მოდა, სტდ. გადახრა, ა.შ. (მოახდინეთ სიტყვიერი ინტერპრეტაცია);

ბ) დაითვალეთ თითოეულ სვეტში ცარიელი მნიშვნელობების რაოდენობა შესაბამისი ფუნქციით

In [2]:
import pandas as pd
import warnings

from scipy.stats import norm
warnings.filterwarnings("ignore")

In [3]:
df=pd.read_csv("LoanStatus.csv")
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,141.0,360.0,1.0,Urban,Y

In [5]:
myFields = ["Gender", "Gender", "Education", "Loan_Status"]
myFieldsStatics = df[myFields].describe();
myFieldsStatics

       Gender Gender Education Loan_Status
count     601    601       614         614
unique      2      2         2           2
top      Male   Male  Graduate           Y
freq      489    489       480         422

In [8]:
blankValue = df.isna().sum()
blankValue

Loan_ID              0
Gender              13
Married              3
Dependents          15
Education            0
Self_Employed       32
ApplicantIncome      0
LoanAmount          22
Loan_Amount_Term    14
Credit_History      50
Property_Area        0
Loan_Status          0
dtype: int64

## დავალება 2:  ალბათობა (1 ქულა)
ა) დაითვალეთ, რა არის სესხის აღების ალბათობა Loan_Status-ის მიხედვით.

ბ) რა არის სესხის აღების ალბათობა, მაშინ როცა კლიენტს კარგი საკრედიტო ისტორია აქვს.

კოდს დაურთეთ თქვენი კომენტარები მოკლედ

In [30]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,141.0,360.0,1.0,Urban,Y

In [29]:
loanStatusCount = df["Loan_Status"].value_counts()
# loanStatusCount

In [28]:
totalLoans = len(df);
# totalLoans
probabilityApproved = loanStatusCount.get('Approved', 0) / totalLoans
probabilityNotApproved = loanStatusCount.get('Not Approved', 0) / totalLoans
print("Approved", probabilityApproved)
print("Not approved", probabilityNotApproved)

Approved 0.0
Not approved 0.0

In [27]:
totalGoodCreditHistory=df["Credit_History"].sum();
print("totalGoodCreditHistory", totalGoodCreditHistory)

goodCreditHistory = df[df['Credit_History']==1]['Loan_Status'].value_counts().get('Approved', 0)
probabilityApprovedGivenGoodCredit = goodCreditHistory / totalGoodCreditHistory
probabilityApprovedGivenGoodCredit

totalGoodCreditHistory 475.0

0.0

## დავალება 3: გრაფიკული წარმოდგენა (1 ქულა)
ა) seaborn.distplot ან seaborn.histplot() ფუნქციის გამოყენებით, ააგეთ რომელიმე სვეტისთვის შესაბამისი გრაფიკი. ლინკი: https://seaborn.pydata.org/generated/seaborn.distplot.html

ბ) matplotlib.pyplot.hist ფუნქციის გამოყენებით, ააგეთ რომელიმე სვეტისთვის შესაბამისი ჰისტოგრამი, რომელშიც bin-ების (ჰოსტოგრამაში ბლოკების) რაოდენობას თქვენ განსაზღვრავთ (მაგ. ჰისტოგრამაში 10 სვეტად წარმოადგინოთ მონაცემები.) იხ. დოკუმენტაცია შემდეგ ლინკზე: https://matplotlib.org/stable/api/_as_gen/matplotlib.pyplot.hist.html

Future warnings-ების გამოსართავად ჩაწერეთ შემდეგი ბრძანებები:
import warnings
warnings.filterwarnings("ignore")

კოდს დაურთეთ თქვენი კომენტარები მოკლედ

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [ ]:
column_to_plot = 'Loan_Amount'

sns.set(style="whitegrid")

plt.figure(figsize=(10, 6))
sns.histplot(df[column_to_plot], bins=30, kde=True, color='skyblue')

plt.xlabel(column_to_plot)
plt.ylabel('LoanAmount')
plt.title(f'Distribution of {column_to_plot}')

plt.show()

In [ ]:
num_bins = 10

plt.figure(figsize=(10, 6))
plt.hist(df[column_to_plot], bins=num_bins, edgecolor='black', color='skyblue')

plt.xlabel(column_to_plot)
plt.ylabel('Frequency')
plt.title(f'Histogram of {column_to_plot} with {num_bins} bins')

plt.show()

## დავალება 4:  კუმულაციური ალბათობა (Cumulative distribution function) - (1 ქულა)
დაითვალეთ შემდეგი კუმულაციური ალბათობა scipy.stats.norm.cdf() ფუნქციის გამოყენებით.
დაითვალეთ კლიენტების რამდენ პროცენტს აქვს შემოსავალი 2000 ევროზე ნაკლები ყოველთვიურად.
norm.cdf(x, mean_val, std_dev_val) ფუნქციის პირველი პარამეტრია სასაზღვრო მნიშვნელობა, მეორე- საშუალო, მესამე -სტდ. გადახრა.

#### მოახდინეთ შედეგების სიტყვიერი ინტერპრეტაცია

In [25]:
from scipy.stats import norm

In [30]:

meanIncome = 2500  
stdDevIncome = 500

incomeThreshold = 2000

cumulativeProbability = norm.cdf(incomeThreshold, meanIncome, stdDevIncome)

percentage_below_threshold = cumulativeProbability * 100
print(f"კუმულაციური ალბათობა იმისა, რომ მომხმარებელს აქვს შემოსავალი ნაკლები{incomeThreshold} ევრო არის: {cumulativeProbability:.4f}")
print(f"{incomeThreshold} ევრო არის: {percentage_below_threshold:.2f}%")

კუმულაციური ალბათობა იმისა, რომ მომხმარებელს აქვს შემოსავალი ნაკლები2000 ევრო არის: 0.1587
2000 ევრო არის: 15.87%

## დავალება 5: სტატისტიკა (1 ქულა)

ააგეთ 2 boxplot დიაგრამა seaborn.boxplot() ფუნქციის გამოყენებით რომელიმე ველის მიმართ.

In [32]:
df=pd.read_csv("LoanStatus.csv")
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,141.0,360.0,1.0,Urban,Y

In [ ]:
field1 = 'Gender'
field2 = 'Married'

sns.set(style="whitegrid")

plt.figure(figsize=(12, 6))

plt.subplot(1, 2, 1)
sns.boxplot(x='Self_Employed', y=field1, data=df, palette='Set1')
plt.title(f'Boxplot of {field1}')

plt.subplot(1, 2, 2)
sns.boxplot(x='Self_Employed', y=field2, data=df, pfalette='Set2')
plt.title(f'Boxplot of {field2}')

plt.tight_layout()

plt.show()

## დავალება 6: t-test (2 ქულა)
ა) გააკეთეთ t-test ანალიზი (One sample t-test)  რომელიმე სვეტის მიმართ და გამოიყენეთ  ttest_1samp ფუნქცია.

ბ) გააკეთეთ t-test ანალიზი (Two sample t-test) რომელიმე სვეტის მიმართ და გამოიყენეთ  ttest_ind ფუნქცია.

განსაზღვრეთ ნულოვანი და ალტერნატიული ჰიპოთეზა, გამოიყენეთ აღნიშნული ფუნქციები და მოახდინეთ შედეგების სიტყვიერი ინტერპრეტაცია.

In [38]:
from scipy.stats import ttest_1samp,ttest_ind

In [ ]:
sample_column = 'SampleColumn'

hypothesized_mean = 100


t_statistic, p_value = ttest_1samp(df["Gender"], hypothesized_mean)


print(f'T-statistic: {t_statistic}')
print(f'P-value: {p_value}')


alpha = 0.05
if p_value < alpha:
    print("შერჩევის საშუალო მაჩვენებელი  განსხვავდება ჰიპოთეზირებული პოპულაციის საშუალოსგან.")
else:
    print("არ არის საკმარისი მტკიცებულება განსხვავების დასადგენად.")

In [ ]:
t_statistic, p_value = ttest_ind(df["Gender"], df["Married"])

# Print the results
print(f'T-statistic: {t_statistic}')
print(f'P-value: {p_value}')

alpha = 0.05
if p_value < alpha:
    print("ორი ჯგუფის საშუალო განსხვავებულია.")
else:
    print("არ არის საკმარისი მტკიცებულება განსხვავებაზე.")